body {
    margin-top: 3%;
    background-color: black;
    color: white;
    font-family: 'Press Start 2P', cursive;
    font-weight: 100;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='4' height='4' viewBox='0 0 4 4'%3E%3Cpath fill='%239C92AC' fill-opacity='0.4' d='M1 3h1v1H1V3zm2-2h1v1H3V1z'%3E%3C/path%3E%3C/svg%3E");
}

.container {
    overflow: hidden;
    margin-top: 5%;
}

table {
    margin-top: 3vh;
    width: 50vw;
    text-align: center;

}

#result {
    padding: 5%;
}


#user {
    color: green;
    font-weight: 900;
}

#cpu {
    color: red;
    font-weight: 900;
}

